/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}

/* HERO */
.hero {
  width: 100%;
  height: 100vh;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../assets/hero.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.hero-content p {
  font-size: 1.2rem;
  opacity: 0.85;
}
