/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

/* HERO IMAGE */
.hero {
  width: 100%;
  height: 100vh;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("hero.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
